
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:ital@1&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins",sans-serif;
}


.a{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 255, 115, 0.178);
}

/* for logo */
.logo{
    width: 50px;
    left: 30px;
    top: 15px;
    position: absolute;
}


/* for nav list */
.nav{
    display: flex;
    width: 84%;
    margin-left: 65%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
   
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    padding: 3px;
    

}

  /* mouse pointer */
nav ul li a:hover{
    color: rgb(111, 119, 121);
    box-shadow: 0px 2px 2px rgba(8, 8, 8, 0.582);

}
  /* selected link */
nav ul li a:active {
    color: rgba(6, 145, 68, 0.795);
  }

  /* information section */
.info{
    margin-left: 8%;
    margin-top: 15%;
}




.info h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#name{
    color: rgba(25, 151, 82, 0.925);
   
}

.info p{
    color: rgb(100, 65, 41);
    line-height: 25px;
}

/* CV section */
.info a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(27, 25, 25);
    border-radius: 10px;
    display: inline-block;
    margin: 50px 0;
    padding: 10px 18px;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
 
}
.info a:hover{
    box-shadow: 0px 0px 20px 5px rgba(0, 255, 115, 0.788);
    color: rgba(0, 255, 115, 0.582);
}
.img{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.user-img{
    height: 60%;
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%);
    width: 50%;
    border-radius: 100%;
    box-shadow: 5px -1px 15px 6px rgba(0, 0, 0, 0.575);
        
}



/* MID */

.projects{
    background-color: rgba(0, 255, 115, 0.178);
 
    
}
.projects h2{
    text-align: center;
    font-size: 40px;
    color: rgba(24, 133, 38, 0.897);
    margin: 2px 0;
    padding: 10px 0px 10px 0px;
    
}
.PROJ{
    display: flex;
    display: inline-block;
}

.PROJ h3{
    margin-left: 20px;
   line-height: 70px;
   font-size: 36px;
    color: rgba(24, 133, 38, 0.897);
}

.PROJ p{
    margin-left: 40px;
    line-height: 30px;
    font-size: larger;
    color: rgba(0, 0, 0, 0.726);
    font-weight: bold;
}

.project-img img{
    height: 300px;
    width: 450px;
    display: flex;
    display: inline-block;
    position: relative;
    left: 70%;
    bottom: 120px; 
    transform: translate(-50%);
    border-radius: 2px;
    box-shadow: -3px 3px 6px 6px rgba(0, 0, 0, 0.322);
        
}
.AB{
    position: relative;
    left: 70%;
    bottom: 350px; 
    transform: translate(-50%);
    
}


.pic{
    position: relative;
    left: 3%;
    bottom: 0px; 
    transform: translate(-50%);

}




/* contact info */
.details{
    background-color: transparent;
    display: flex;
}
.CS{
    height: 250px;
    width: 49%;
    display: flex;
    display: inline-block;
    margin: 10px;
    box-shadow: 1px 5px 25px 5px rgba(0, 0, 0, 0.322);  
}
.CS{
    float: left;
}

.contact{
    float: right;
}
.CS h1{
    text-align: center;
    color: rgba(24, 133, 38, 0.897);
     padding-top: 0%;
    margin: 10px 0px 12px;
    font-size: 40px;
}

.CS p{
    text-decoration: none;
    line-height: 40px;
    text-align: left;
    margin-left: 50px;
    font-weight: bold;
}

#list{
    margin-left: 50px;
    font-size: 19px;
    line-height: 30px;
    font-weight: bold;
}

.email{
    text-decoration: none;
    color: rgba(7, 122, 17, 0.623);
}

footer h1{
    color: rgb(0, 0, 0);
    font-size: medium;
    padding: 15px;
}

footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0; 
}
.social{
    width: 20px;
    top: 10px;
    background: transparent;
    cursor: pointer;
}
#tag{
    text-align: right;
    margin-right: 50px;
}





  